
body{
    background-size: cover;
    background-repeat: no-repeat;
}
.heading{

    width: 100%;
    margin: 0%;
 }
canvas{
    border:2px solid white;
    border-radius: 10px;
    margin:130px;
    box-shadow: 5px 5px 5px white;
}